
.widget{
  font-family: ProximaNova-Light,Arial,Helvetica,sans-serif;
  max-width:900px;
  margin: 30px auto;
}
.widget-wrapper{
  background: #faebd7;
  border-radius: 5px;
  color: #3b9d99;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

}

.loader{
  text-align: center;
  width: 360px;
}
.loader img{
  display: inline-block;

}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-card__actions {
	padding: 16px;
}
.card-price_amount{
	font-size: 14px;
	font-weight: 500;
}

.md-breadCrumb {
	transform: translate(-50%, -50%);
	width: 450px;
	margin: 50px auto 0px;
}
.md-breadcrumb {
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
}
.md-breadcrumb > a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: #fff;
  padding: 0 10px 0 60px;
  position: relative;
}
.md-breadcrumb > a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}
.md-breadcrumb > a:first-child::before {
  left: 14px;
}
.md-breadcrumb > a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}
.md-breadcrumb > a:last-child::after {
  content: none;
}
.md-breadcrumb > a::before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: bold;
}
.md-breadcrumb > a::after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  box-shadow: 2px -2px 0 2px #ca1e58;
  border-radius: 0 5px 0 50px;
}
.flat a,
.flat a::after {
  background: #fff;
  color: #ec407a;
  transition: all 0.5s;
}
.flat a::before {
  background: #fff;
  box-shadow: 0 0 0 1px #ec407a;
}
.flat a:hover,
.flat a.active,
.flat a:hover::after,
.flat a.active::after {
  background: #ec407a;
}
.flat a.active:hover {
  background: #d81b60;
}
.flat a:hover,
.flat a.active {
  color: #fff;
}
.flat a:hover::before,
.flat a.active::before {
  color: #ec407a;
}

.mdl-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.mdl-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 330px;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.mdl-card__title {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    line-height: normal;
    padding: 16px;
    -webkit-perspective-origin: 165px 56px;
    perspective-origin: 165px 56px;
    -webkit-transform-origin: 165px 56px;
    transform-origin: 165px 56px;
    box-sizing: border-box;
}
.mdl-card__title-text {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
}
.mdl-card__supporting-text {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
    font-size: 14px;
    color:#666;
    line-height: 1.4;
}
.mdl-card__actions.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}
.mdl-card__actions {
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 16px;
    box-sizing: border-box;
}

.car-make-model-containter .mdl-card__supporting-text{display: none;}